body{
    background-image: url('_615d7846-58d3-43cc-ad42-30aff6dd1b2d.jpg');
    font-family:" 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"_
}
#container{
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
    padding: none;
}
/*TEXT STYLES*/
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 76px;
    color:#9ec7e7;
    float: center;
}
h2{
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 30px;
}
h3{
    font-weight: normal;
    margin-top: 0px;
    font-size: 50px;
    color: #0e1011;
}
p{
    font-size: 28px;
    color: #010101;
    padding: 0px;
    margin-top: 6px;
    margin-bottom: 6px;
}
ul{
    font-size: 28px;
}
/*HEADER*/
#header{
    float: center;
}
/*MENU SECTION*/
#menu{
    text-size-adjust:26px;
    width: 300 px;
    line-height: normal;
    float:left;
    font-size: 26;
    align-self: center;
}
#menu ul{
    list-style-type: none;
    margin:0px;
}
#menu li{
    background-color: #dda5ed;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px;
    font-size: 45px;
}
#menua:link, a:visited{
    color: rgb(1, 1, 1);
    font-weight: bold;
    text-decoration: none;
}
#menu a:hover, a:active{
    color: rgb(11, 14, 15);
    text-decoration: underline;
}
/*MAIN SECTION STYLES*/
#main{
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 200px;
    background-color: #ffffff;
    border: 20px, #ffffff;
}
#main h1{
    text-align: center;
    text-decoration: wavy;
}
#main h3{
    color: #080a0c;
    margin-top: 20px;
    margin-bottom: 4px;
    font-size: 24px;
    margin-left: 16px;
}
#main p{
    font-size: 26px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
#main a:link, a:visited{
    color: rgb(18, 24, 27);
    font-weight: bold;
    text-decoration: none;
}
#main a:hover, a:active{
    color: rgb(23, 28, 30);
    text-decoration: underline;
}
/*FOOTER SECTION*/
#footer{
    background-color: #e0b0f1;
    margin-top: 20px;
    clear: both; 
    size:auto;/*MAKES THE FOOTER ALWAYS SIT 
    UNDERNEATH MENU AND IMAGE*/
}
#footer p{
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin:0px;
    color: #ffffff;
    text-align: center;
}
#footer a:link, a:visited{
    color: #121214;
    text-decoration: none;
}
#footer a:hover, a:active{
    color: #96e5f7;
}
/*LINK STYLES*/
a:link, a:visited{
    color: rgb(179, 235, 248);
    font-weight: bold;
    text-decoration: none;
}
a:hover, a:active{
    color: rgb(152, 226, 243);
    text-decoration: underline;
}
/*CLASS STYLES*/
.rightfloat{
    border:2px solid rgb(188, 220, 242);
    margin: 8px;
    float:right;
}
/*IMAGE*/
#image{
    border: none;
    size: 40%;
    float: right;
    margin-left: 250px;
    align-items: right;
}
/*IMAGE 2*/
#menu images{
    border: none;
    width: 230px;
    float: left;
}
